<div class="m-auto my-8 max-w-lg">
  <div class="c-main-area flex flex-col justify-center ">
    <h3 class="text-4xl font-extrabold inline-flex items-center justify-center gap-3 text-zinc-500 hover:text-red-600 cursor-default transition duration-500">
      <%= render 'shared/svg/warning' %>
      <span class="font-medium">404 Not Found</span>
    </h3>
    <hr class="my-4" />
    <p class="text-base text-center">We could not find what you were looking for, please try again.</p>
  </div>
</div>